/* .for_light_theme {
    --primary-color: #302ae6;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
}
.for_darak_theme {
    --primary-color: #536390;
    --secondary-color: #302ae6;
    --font-color: #d4d4d4;
    --bg-color: #121212;
    --heading-color: #e4e4e4;
} */
/* 
index.css backup-------------
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
 }
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #22c122;
  --color-secondary: teal;
}

/* Purple color: text-purple-600 */

/* Custom button override 
.btn-primary {
  @apply bg-gradient-to-r from-[#16DB96] to-[#14A651] border-none text-white;
}
.btn-primary:hover {
   @apply brightness-110 -translate-y-0.5 shadow-lg;
   cursor: pointer;
} 
*/