@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
 }
@plugin "daisyui/theme" {
  name: "light";
  default: true;

  /* Custom colors */
  --color-primary: #22c122;
  --color-secondary: #374151;
  --color-bg: #ffffff;
  --color-whitebg: #f9fafb;
  --color-bg-2: #e5e7eb;
  --color-blacktext: #000000;
  --color-text: #424242;
  --color-heading: #292922;
  --color-accent: #facc15;
}
@plugin "daisyui/theme" {
  name: "dark";

  --color-primary: #0CF58D;
  --color-secondary: #ffffff;
  --color-bg: #121212;
  --color-whitebg: #6b7280;
  --color-bg-2: #374151;
  --color-blacktext: #42C742;
  --color-text: #4d4d4d;
  --color-heading: #e4e4e4;
  --color-accent: #f472b6;
}

/* Light theme */
[data-theme="light"] 
.bg-gray-200 {
  background-color: var(--color-bg-2);
}
.text-blacktext {
  color: var(--color-blacktext);
}
.whitebg {
  background-color: var(--color-whitebg);
}


/* Dark theme */
[data-theme="dark"] 
.bg-gray-200 {
  background-color: var(--color-bg-2);
}
.text-blacktext {
  color: var(--color-blacktext);
}
.whitebg {
  background-color: var(--color-whitebg);
}


/* Light theme */
[data-theme="light"] .border-b-theme {
  border-bottom: 1px solid rgb(209, 207, 206);
}

/* Dark theme */
[data-theme="dark"] .border-b-theme {
  border-bottom: 1px solid #6c7480; 
}

/* Purple color: text-purple-600 */

/* Custom button override */
.btn-primary {
  @apply bg-gradient-to-r from-[#16DB96] to-[#14A651] border-none text-white;
}
.btn-primary:hover {
   @apply brightness-110 -translate-y-0.5 shadow-lg;
   cursor: pointer;
}